/* Custom Styles */

body {
  padding-bottom: 0;
  padding-top: 3rem;
  color: #5a5a5a;
}

.hero-image {
  background-color: #cccccc;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.types div {
  margin-top: 1.5em;
}

.types img {
  padding-bottom: 1em;
}

/*************************
Navigation Menu
*************************/
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

/*************************
Landing Page
*************************/
.carousel-caption {
  bottom: 13rem;
}

/************************************
Menu Page
 ************************************/
.hero-image.menu_hero {
  background-image: url("../img/hero/menu.jpg");
}

/************************************
Services Page
 ************************************/
.hero-image.services_hero {
  background-image: url("../img/hero/services.jpg");
}

.hours p span .day {
  float: left;
}

.hours p span.time {
  float: right;
}

/************************************
Events Page
 ************************************/
.hero-image.events_hero {
  background-image: url("../img/hero/events.jpg");
}


/************************************
1st Footer with Widgets
 ************************************/
#widgetSection {
  margin-bottom: 1.5em;
}

#widget:first-child {
  margin-top: 0;
  margin-bottom: 0.75em;
}

#widget:nth-child(1n+2) {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#widget p {
  margin-top: 0;
  margin-bottom: 0;
}

.hours p span .day {
  float: left;
}

.hours p span.time {
  float: right;
}

.address p:nth-child(2) {
  padding-top: 0;
  padding-left: 4em;
}

.addressBtn {
  margin:1em auto 0;
  width: 75%;
}

.addressBtn button {
  width: 100%;
}

.contact p,
.address p {
  padding-top: 20px;
}

.icon img {
  width: 40px;
}

.address p span.icon,
.contact p span.icon {
  padding-right: 1em;
}

/************************************
2nd Footer - Copyright and Social Icons
 ************************************/
.footer {
  background: rgba(0,0,0,0.7);
  padding: 0.5em;
  color: #ffffff;
  position: relative;
}

.footer p {
  margin-bottom: 0;
  float: left;
}

.socialMediaIcons {
  float: right;
  display: inline-block;
}

.socialMediaIcons img {
  width: 25px;
}

.socialMediaIcons img:first-child {
  margin-right: 5px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (min-width: 990px) {
  #widget:nth-child(n) {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

}
