/* Custom Styles */

body {
  height: 100%;
}

/*************************
Landing Page
*************************/
#wrapper {
  width: 100%;
  height: 90vh;
}

#landing.container,
#member_login.container  {
  margin-top: 1.5em;
}

#landing h1.titleLine {
  line-height: 42px;
  padding-bottom: 5px;
}

#landing p.tagLine,
#member_login p.tagLine {
  color: #929292;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 1em;
}

.user {
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative;
  box-shadow: 10px 10px 5px grey;
}

.user img {
  width: 100%;
}

.text-overlay {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.tint { position: relative; }

.tint::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  margin: auto;
}

.user button {
  margin-top: 45px;
  padding-left: 60px;
  padding-right: 60px;
}

/*************************
Member Login Page
*************************/
.backBtn {
  width: 80px;
  position: fixed;
  border-radius: 0 10px 10px 0;
  top: 15px;
}

.backBtn button, .backBtn a {
  width: 100%;
  background-color: inherit;
}

/*************************
Items Page
*************************/
  /******* Navbar *******/
  .navbar-toggler:focus {
    display:none;
  }

  .nav-link {
    border-top: solid 1px white;
  }

  /******* Hero Image *******/
  .hero-image {
    margin-top: 56px;
      /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/1.jpg");

      /* Set a specific height */
      height: 50%;

      /* Position and center the image to scale nicely on all screens */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }

  /* Place text in the middle of the image */
  .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
  }

  .card { border: 10px solid rgba(0, 0, 0, 0.125); }
  .card img {
    width: 100%;
    max-width: 100px;
  }

  /******* Price Bar *******/
  #priceBar {
    width: 250px;
    position: fixed;
    padding: 15px;
    top:47%;
    left: 0;
    color: #fff;
    height: 70px;
  }

  #priceBar h5 {
    padding-top: 10px;
  }

  #priceBar h5, #priceBar button {
    display: inline-block;
  }

  #priceBar button {
    padding: 5px 10px;
    height: 40px;
  }

  .blue { color: blue; }
  .red { color: red; }
