/* Google Fonts
font-family: 'Italianno', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Great Vibes', cursive;
*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
  padding-bottom: 0;
  padding-top: 3rem;
  color: #5a5a5a;
}

body p {
  font-family: 'Raleway', sans-serif;
}

/************************************
 Main Site Navigation Menu
 ************************************/
.navbar-dark .navbar-toggler {
  border: none;
  border-color: none;
}

button:focus {
  outline: none;
  outline: none -webkit-focus-ring-color;
}

:focus {
  outline: none;
  outline-color: -webkit-none;
}

.logo {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Great Vibes', cursive;
  /* font-family: 'Italianno', cursive; */
}

.featurette-divider {
  margin: 1rem 0;
}

/************************************
Services Page
 ************************************/
.jumbotron.services {
  background-image: url("../img/haircut7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.jumbotron.services h1,
.jumbotron.services p {
 color: #fff;
}

span.service {
 float: left;
}

span.price {
 float: right;
}


/************************************
Careers Page
 ************************************/
.jumbotron.career {
 background-image: url("../img/haircut91.jpg");
 background-position: center;
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: relative;
}

.jumbotron.career h1,
.jumbotron.career p {
 color: #fff;
}

#application label {
  font-weight: bold;
}

#application label.weekdays,
#application label.weekends,
#application label.mornings,
#application label.afternoons,
#application label.evenings,
#application label.school,
#application label.experience,
#application label.prevContact {
  font-weight: normal;
}

/************************************
About Page
 ************************************/
.jumbotron.about {
 background-image: url("../img/shop4.png");
 background-position: center;
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: relative;
}

.jumbotron.about h1,
.jumbotron.about p {
 color: #fff;
}

#letter p {
  line-height: 32px;
}

#letter h2 {
  padding-bottom: 0.5em;
}

#letter span {
  font-family: 'Raleway', sans-serif;
  font-size: 56px;
}

#letter .letter_p {
  margin-top:0;
  margin-bottom:0;
  line-height: 20px;
}

#team img {
  max-width:100%;
  border: solid 10px #701f28; /* #343a40 */
  margin-bottom: 1em;
}

#gallery img {
  max-width:100%;
  border: solid 10px #343a40;
  margin-bottom: 1em;
}


/************************************
Contact Page
 ************************************/
.jumbotron .map {
 text-align: center;
 padding: 0 ;
}

.map {
  max-width: 100%;
  margin: 0 auto;
}

.map iframe {
  width: 100%;
}

/************************************
Sidebar
 ************************************/




/************************************
Footer
 ************************************/
#widget:first-child {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

#widget:nth-child(1n+2) {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#widget p {
  margin-top: 0;
  margin-bottom: 0;
}

.hours p span .day {
  float: left;
}

.hours p span.time {
  float: right;
}

.address p:nth-child(2) {
  padding-top: 0;
  padding-left: 3em;
}

.addressBtn {
  margin:1em auto 0;
  width: 75%;
}

.addressBtn button {
  width: 100%;
}

.contact p,
.address p {
  padding-top: 20px;
}

.address p span.icon,
.contact p span.icon {
  padding-right: 1em;
}


@media only screen and (min-width: 990px) {
  #widget:nth-child(n) {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}
